*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 239, 248);
}

section{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

/* container section end */

/* div1 & div2 start */

.d1{
    width: 300px;
    height: 380px;
    margin: 10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(29, 29, 29);
    padding-bottom: 50px;
    background-color: rgb(247, 245, 245);
}

.d1:hover{
    transform: scale(1.1) translateY(-5px);
    

}

.div2{
    margin-top: 40px;
}

.div2:hover{
    
}

/* div1 & div2 start */


/* div id C section start */


/* #c1{
    background-color: rgb(5, 136, 252);
    
} */

/* #c2{
    background-color: rgb(252, 83, 5);
}

#c3{
    background-color: rgb(5, 252, 198);
}

#c4{
    background-color: rgb(252, 5, 120);
}

#c5{
    background-color: rgb(252, 5, 26);
}

#c6{
    background-color: rgb(227, 252, 5);
}

#c7{
    background-color: rgb(5, 252, 157);
}

#c8{
    background-color: rgb(5, 136, 252);
}

#c9{
    background-color: rgba(5, 252, 231, 0.616);
}

#c10{
    background-color: rgb(252, 5, 100);
}

#c11{
    background-color: rgb(252, 5, 5);
}

#c12{
    background-color: rgb(252, 96, 5);
} */

/* div id C section end */

.md1{
    width: 250px;
    height: 250px;
}

h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}

p{
    padding-bottom: 10px;
    color: rgb(65, 66, 66);
}


/*=============== image & hover start ===================*/

.img1{
    width: 250px;
    height: 250px;
    background-image: url('/img/img1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img1:hover{
    
    background-image: url('/img/img01.jpg');
}

.img2{
    width: 250px;
    height: 250px;
    background-image: url('/img/img5.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img2:hover{
    
    background-image: url('/img/img05.jpg');
}

.img3{
    width: 250px;
    height: 250px;
    background-image: url('/img/img9.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img3:hover{
    
    background-image: url('/img/img09.jpg');
}

.img4{
    width: 250px;
    height: 250px;
    background-image: url('/img/img2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img4:hover{
    
    background-image: url('/img/img02.jpg');
}

.img5{
    width: 250px;
    height: 250px;
    background-image: url('/img/img6.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img5:hover{
    
    background-image: url('/img/img06.jpg');
}

.img6{
    width: 250px;
    height: 250px;
    background-image: url('/img/img10.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img6:hover{
    
    background-image: url('/img/img010.jpg');
}

.img7{
    width: 250px;
    height: 250px;
    background-image: url('/img/img3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img7:hover{
    
    background-image: url('/img/img03.jpg');
}

.img8{
    width: 250px;
    height: 250px;
    background-image: url('/img/img7.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img8:hover{
    
    background-image: url('/img/img07.jpg');
}

.img9{
    width: 250px;
    height: 250px;
    background-image: url('/img/img11.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img9:hover{
    
    background-image: url('/img/img011.jpg');
}

.img10{
    width: 250px;
    height: 250px;
    background-image: url('/img/img4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img10:hover{
    
    background-image: url('/img/img04.jpg');
}

.img11{
    width: 250px;
    height: 250px;
    background-image: url('/img/img8.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img11:hover{
    
    background-image: url('/img/img08.jpg');
}

.img12{
    width: 250px;
    height: 250px;
    background-image: url('/img/img12.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}

.img12:hover{
    
    background-image: url('/img/img012.jpg');
}

/*=============== image & hover end ===================*/